.classic-bottom {
  margin-bottom: 20px;
}

.main-div {
  position: fixed;
  left: 37%;
  width: 15%;
  right: 37%;
  top: 100px;
}

div {
  font-size: 18px;
}

li {
  margin-bottom: 20px;
}

.main-ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.project-button {
  min-width: 250px;
}
