.classic-bottom {
  margin-bottom: 20px;
}

.main-div {
  position: fixed;
  left: 37%;
  width: 15%;
  right: 37%;
  top: 100px;
}

div {
  font-size: 18px;
}

li {
  margin-bottom: 20px;
}

.main-ul {
  list-style-type: none;
  position: fixed;
  width: 16%;
  transform: translate(-50%, 0);;
  top: 60px;
}
